<!-- 商品服务 -->
<div class="pro-serve-bg">
    <div class="pro-serve">
        <div class="serve-cont">
            <img width="24" height="24" src="/images/index/proserve1.png">
            <div class="text">&nbsp;&nbsp;百强企业品质保证</div>
        </div>
        <div class="serve-cont">
            <img width="24" height="24" src="/images/index/proserve2.png">
            <div class="text">&nbsp;&nbsp;7天退货 15天换货</div>
        </div>
        <div class="serve-cont">
            <img width="24" height="24" src="/images/index/proserve3.png">
            <div class="text">&nbsp;&nbsp;48元起免运费</div>
        </div>
        <div class="serve-cont">
            <img width="24" height="24" src="/images/index/proserve4.png">
            <div class="text">&nbsp;&nbsp;2000家服务店 全国联保</div>
        </div>
    </div>
</div>
<!-- ---------------------- -->
<!-- 底部导航信息 -->
<div class="footer-bg">
    <div class="footer-nav">
        <div class="left-nav">
            <dl>
                <dt>购物指南</dt>
                <dd>免息分期</dd>
                <dd>以旧换新</dd>
                <dd>众测活动</dd>
                <dd>企业购</dd>
                <dd>O2O采购</dd>
            </dl>
            <dl>
                <dt>售后服务</dt>
                <dd>门店维修</dd>
                <dd>保修政策</dd>
                <dd>防伪查询</dd>
                <dd>退换贷政策</dd>
                <dd>手机寄修服务</dd>
                <dd>维修备件价格查询</dd>
            </dl>
            <dl>
                <dt>维修与技术支持</dt>
                <dd>服务店</dd>
                <dd>预约维修</dd>
                <dd>手机寄修</dd>
                <dd>备件价格查询</dd>
                <dd>上门服务</dd>
            </dl>
            <dl>
                <dt>特色服务</dt>
                <dd>防伪查询</dd>
                <dd>补购保障</dd>
                <dd>以旧换新</dd>
                <dd>礼品包装</dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>公司介绍</dd>
                <dd>华为委售店</dd>
                <dd>商家中心</dd>
                <dd>意见反馈</dd>
            </dl>
            <dl>
                <dt>友情链接&nbsp;></dt>
                <dd>华为集团</dd>
                <dd>华为CBG官网</dd>
                <dd>花粉俱乐部</dd>
                <dd>华为云</dd>
                <dd>华为应用市场</dd>
            </dl>
        </div>
        <div class="line-y"></div>
        <div class="right-phone">
            <div class="phone">
                <div class="phone-num">950805</div>
                <div class="phone-txt">7 x 24小时客服热线(仅收市话费)
                </div>
            </div>
            <div class="kefu">
                <div class="box-phone">
                    <span class="iconfont icon-zaixiankefu"></span>
                    <div style="margin-left: 7px;">在线客服</div>
                </div>
            </div>
            <div class="VMALL">
                <h2 style="font-size: 13px;">关注VMALL:</h2>
                <span style="font-size: 24px;" class="iconfont icon-weixin"></span>
                <span style="font-size: 18px;" class="iconfont icon-toutiaoyangshi"></span>
                <span style="font-size: 24px;" class="iconfont icon-weibo"></span>
                <span style="font-size: 18px;" class="iconfont icon-baidu"></span>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------- -->
<!-- 底部版权 -->
<div class="copyright-bg">
    <div class="copyright">
        <div class="copy-content">
            <div class="left">
                <img width="82" height="20" src="/images/logo/logo_min.png">
            </div>
            <div class="center">
                <div class="cen-1">
                    华为集团&nbsp;|&nbsp;华为CBG官网&nbsp;|&nbsp;花粉俱乐部&nbsp;|&nbsp;华为应用市场&nbsp;|&nbsp;HarmonyOS&nbsp;|&nbsp;华为终端云空间&nbsp;|&nbsp;开发者联盟&nbsp;|&nbsp;
                    华为商城手机版
                </div>
                <div class="cen-2">
                    <p>隐私声明服务协议COOKIES
                        Copyright◎2012-2022华为终端有限公司版权所有&nbsp;|&nbsp;经营资质&nbsp;|&nbsp;粤ICP备19015064号1粤公网安备44190002003939号
                    </p>
                    <p>增值电信业务经营许可证:粤B2-201907621 备案 主体编号: 442019190721821 粵新出网备 (2021) 2号1(粵)网械平台备字[2022]第00005号
                    </p>
                    <p>互联网药品信息服务资格证(粤) -非经营性: 2020-0102 &nbsp;|&nbsp;
                        粤东食药监械经营备20203930&nbsp;|&nbsp;广东省网络食品交易第三方平台备案: GDWS10168</p>
                </div>
            </div>
            <div class="right"><img width="90" height="32" src="/images/index/yingyezhizhao.png"></div>
        </div>
    </div>
</div>
<!-- 侧边栏导航 -->
<aside>
    <a href="/cart/page">
        <div class="aside shoppinp-card">
            <span class="iconfont icon-maijiagouwuche"></span>
            <h2>购物车</h2>
        </div>
    </a>
    <div class="aside">
        <span class="iconfont icon-zaixiankefu"></span>
        <h2>在线客服</h2>
    </div>
    <div class="aside">
        <span class="iconfont icon-fuwu"></span>
        <h2>自助服务</h2>
    </div>
    <div class="aside backtop">
        <span class="iconfont icon-fanhuidingbu"></span>
        <h2>返回顶部</h2>
    </div>
</aside>