<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.hc.common.mapper.ScheduleMapper">
    <delete id="doDelete">
        delete from schedule where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getList" resultType="com.wk.hc.common.vo.ScheduleVO">
        SELECT schedule.*,department.name dept,user.username,user.tel,user.name,doctor_info.sex,doctor_info.title,doctor_info.price
        FROM schedule
                 inner join user on schedule.user_id = user.id
                 inner join doctor_info on user.id = doctor_info.user_id
                 inner join department on doctor_info.dept_id = department.id
    </select>
    <select id="getDates" resultType="java.time.LocalDate" parameterType="java.lang.String">
        SELECT DATE_ADD(CURDATE(), INTERVAL n DAY) AS date
        FROM `schedule`
        CROSS JOIN (
        SELECT 0 AS n UNION ALL
        SELECT 1 UNION ALL
        SELECT 2 UNION ALL
        SELECT 3 UNION ALL
        SELECT 4
        ) AS numbers
        WHERE DATE_ADD(CURDATE(), INTERVAL n DAY) >= `schedule`.begin_date
          and DATE_ADD(CURDATE(), INTERVAL n DAY) &lt;= `schedule`.end_date
          and `schedule`.user_id = #{uid}
    </select>
    <select id="getTimes" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT '07:30-09:00' AS time
        UNION
        SELECT '09:00-10:30'
        UNION
        SELECT '10:30-12:00'
        UNION
        SELECT '13:30-15:00'
        UNION
        SELECT '15:00-16:30'
        UNION
        SELECT '16:30-18:00'
    </select>
</mapper>
