@font-face {
  font-family: "iconfont"; /* Project id 3525901 */
  src: url('iconfont.woff2?t=1657904704374') format('woff2'),
       url('iconfont.woff?t=1657904704374') format('woff'),
       url('iconfont.ttf?t=1657904704374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e600";
}

.icon-fanhuidingbu:before {
  content: "\e609";
}

.icon-fuwu:before {
  content: "\e61f";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-zaixiankefu:before {
  content: "\e630";
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-youjiantou:before {
  content: "\e629";
}

.icon-jiantou_liebiaoshouqi_o:before {
  content: "\eb8a";
}

.icon-jiantou_liebiaozhankai_o:before {
  content: "\eb8b";
}

.icon-yuanquan-zuo:before {
  content: "\e720";
}

.icon-yuanquan-you:before {
  content: "\e721";
}

.icon-toutiaoyangshi:before {
  content: "\e622";
}

.icon-zuojiantou:before {
  content: "\e610";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-maijiagouwuche:before {
  content: "\e992";
}

