<html>
<head>
    <title>挂号管理</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>

</head>
<body>

<form lay-filter="form2" class="layui-form" action="">
    <div class="layui-form-item" style="margin-top: 15px">
        <!--<div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input id="input1" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>-->
        <div class="layui-inline">
            <label class="layui-form-label">患者姓名</label>
            <div class="layui-input-inline layui-input-wrap">
                <input id="input2" lay-affix="clear" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline layui-input-wrap">
                <select id="select1">
<!--                    <option value="">所有</option>-->
                    <option value="已预约" selected>未出诊</option>
                    <option value="已出诊">已出诊</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <input id="searchBtn" type="button" value="查询" class="layui-btn layui-btn-radius">
            <!--<input id="addBtn" type="button" value="新增" class="layui-btn layui-btn-radius">
            <input id="delBtn" type="button" value="删除" class="layui-btn layui-btn-radius">-->
        </div>
    </div>
</form>

<table id="pTable"></table>

<script id="template1" type="text/html">
    <form class="layui-form" action="" lay-filter="form">
        <div class="layui-form-item" style="margin-top: 15px">
            <div class="layui-inline">
                <label class="layui-form-label">病情</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id">
                    <textarea name="content" placeholder="请输入病情" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医嘱</label>
                <div class="layui-input-inline">
                    <textarea name="advice" placeholder="请输入医嘱" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="reset" value="重置" class="layui-btn layui-btn-primary">
                <input id="saveBtn" type="button" value="保存" class="layui-btn">
            </div>
        </div>
    </form>
</script>

<script id="template2" type="text/html">
    <input lay-event="edit" type="button" value="出诊" class="{{d.status != '已预约' ? 'layui-btn-disabled' : ''}} layui-btn layui-btn-radius layui-btn-xs"/>
</script>

<script src="/layui/layui.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script th:inline="none">
    //告诉浏览器加载layui中的哪些组件
    //加载完小组件就执行function
    layui.use(['table', 'layer', 'form', 'upload'], function () {
        // console.log("123");

        //第一步,先对家啊在的组件起名字
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var upload = layui.upload;

        //给查询按钮绑定事件
        $("#searchBtn").on("click", function () {
            //用js发起一个请求去要一些数据回来,要到之后把数据插入到table中
            //通过table组件渲染表格

            table.render({
                elem: "#pTable",
                url: "/registration/list",
                cols: [[
                    // {title: "选择", type:"checkbox"},
                    {title: "序号", type: "numbers"},
                    {title: "编号", field: "number"},
                    {title: "科室", field: "dept"},
                    {title: "医生", field: "doctorName"},
                    {title: "患者", field: "patientName"},
                    {title: "挂号费", field: "price"},
                    {title: "是否支付", field: "isPay"},
                    {title: "日期", field: "date"},
                    {title: "时间", field: "time"},
                    {title: "状态", field: "status"},
                    {title: "操作", templet: "#template2"}
                ]],
                page: true,
                limits: [5, 10, 20],
                limit: 5,
                where: {
                    // username: $("#input1").val(),
                    name: $("#input2").val(),
                    status:$("#select1").val()
                }
            });

        }).click();//自动查询一次





        //给表格操作绑事件
        table.on("tool", function (obj) {
            var event = obj.event;
            var data = obj.data;//当前点击的这一行的数据
            /*console.log(event)
            console.log(data.id)*/

            if (event === "edit") {//说明点了编辑

                if (data.status != '已预约') {
                    return;
                }

                layer.open({
                    title: "编辑医生",
                    type: 1,
                    area: ['400px', '400px'],
                    content: $("#template1").html()
                });


                $("#saveBtn").on("click", function () {
                    var data1 = form.val("form");
                    data1.patientId = data.patientId;
                    data1.rid = data.id;
                    $.post("/history/save", data1, function () {
                        layer.closeAll();
                        layer.msg("保存成功")
                        $("#searchBtn").click();
                    })
                });


            }
        });

    });


</script>
</body>
</html>
