<html>
<head>
    <title>坐诊管理</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>

</head>
<body>

<form lay-filter="form2" class="layui-form" action="">
    <div class="layui-form-item" style="margin-top: 15px">
        <div class="layui-inline">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-inline">
                <input id="input1" lay-affix="clear" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline layui-input-wrap">
                <input id="input2" lay-affix="clear" type="text" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline layui-input-wrap">
                <select id="select1">
                    <option value="">所有</option>
                    <option value="0" selected>正常</option>
                    <option value="1">锁定</option>
                    <option value="-1">删除</option>
                </select>
            </div>
        </div>-->
        <div class="layui-inline">
            <input id="searchBtn" type="button" value="查询" class="layui-btn layui-btn-radius">
            <input id="addBtn" type="button" value="新增" class="layui-btn layui-btn-radius">
            <input id="delBtn" type="button" value="删除" class="layui-btn layui-btn-radius">
        </div>
    </div>
</form>

<table id="pTable"></table>

<script id="template1" type="text/html">
    <form class="layui-form" action="" lay-filter="form1">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-inline layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <input type="text" name="beginDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">结束日期</label>
                <div class="layui-input-inline layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <input type="text" name="endDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">最大预约</label>
                <div class="layui-input-inline">
                    <input type="number" name="maxNum" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="reset" value="重置" class="layui-btn layui-btn-primary">
                <input id="saveBtn" type="button" value="保存" class="layui-btn">
            </div>
        </div>
    </form>
</script>

<script id="template3" type="text/html">
    <form class="layui-form" action="" lay-filter="form1">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-inline">
                    <select id="dept" lay-filter="dept"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医生</label>
                <div class="layui-input-inline">
                    <select id="doctor" lay-filter="doctor" name="userId"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-inline layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <input type="text" name="beginDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">结束日期</label>
                <div class="layui-input-inline layui-input-wrap">
                    <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                    </div>
                    <input type="text" name="endDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input date">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">最大预约</label>
                <div class="layui-input-inline">
                    <input type="number" name="maxNum" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="reset" value="重置" class="layui-btn layui-btn-primary">
                <input id="saveBtn2" type="button" value="保存" class="layui-btn">
            </div>
        </div>
    </form>
</script>

<script id="template2" type="text/html">
    <input lay-event="edit" type="button" value="编辑" class="layui-btn layui-btn-radius layui-btn-xs"/>
    <input lay-event="delete" type="button" value="删除" class="layui-btn layui-btn-danger layui-btn-radius layui-btn-xs"/>
</script>

<script src="/layui/layui.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script th:inline="none">
    //告诉浏览器加载layui中的哪些组件
    //加载完小组件就执行function
    layui.use(['table', 'layer', 'form', 'upload','laydate'], function () {
        // console.log("123");

        //第一步,先对家啊在的组件起名字
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var upload = layui.upload;
        var laydate = layui.laydate;

        //给查询按钮绑定事件
        $("#searchBtn").on("click", function () {
            //用js发起一个请求去要一些数据回来,要到之后把数据插入到table中
            //通过table组件渲染表格

            table.render({
                elem: "#pTable",
                url: "/schedule/list",
                cols: [[
                    {title: "选择", type:"checkbox"},
                    {title: "序号", type: "numbers"},
                    {title: "工号", field: "username"},
                    {title: "姓名", field: "name"},
                    {title: "性别", field: "sex"},
                    {title: "科室", field: "dept"},
                    {title: "职称", field: "title"},
                    {title: "开始日期", field: "beginDate"},
                    {title: "结束日期", field: "endDate"},
                    {title: "单位最大预约", field: "maxNum"},
                    {title: "操作", templet: "#template2"}
                ]],
                page: true,
                limits: [5, 10, 20],
                limit: 5,
                where: {
                    username: $("#input1").val(),
                    name: $("#input2").val(),
                    status:0
                    // status:$("#select1").val()
                }
            });

        }).click();//自动查询一次

        $("#delBtn").on("click",function (){
            var o = table.checkStatus("pTable");
            // console.log(o.data);
            if (o.data.length == 0) {
                layer.msg("至少选中一行");
                return false;
            }
            var ids = "";
            $.each(o.data,function (index,item){
                if (ids != "") {
                    ids += ",";
                }
                ids+=item.id;
            });
            $.post("/schedule/delete", {ids:ids},function (result){
                if (result.code == 0) {
                    layer.closeAll();
                    layer.msg("删除成功");
                    $("#searchBtn").click();
                } else {
                    layer.msg(result.msg);
                }
            });
        });

        var loadDoctor = function (f) {
            var deptId = $("#dept").val();
            $.get("/doctor/dept?deptId=" + deptId, function (doctor) {
                //清空
                $("#doctor").empty();
                $.each(doctor, function (index, item) {
                    //往二级下拉框添加值
                    $("#doctor").append("<option value='" + item.id + "'>" + item.name + "</option>")
                })
                if (f) {
                    f();
                }
                //渲染
                form.render('select');
            })

        }

        //给新增按钮绑定事件
        $("#addBtn").on("click", function () {

            $.get("/department/select", function (tops) {

                $.each(tops, function (index, item) {
                    $("#dept").append("<option value='" + item.id + "'>" + item.name + "</option>")
                });
                loadDoctor();
                form.on("select(dept)", function () {
                    loadDoctor();
                })
                form.render();
            });

            layer.open({
                title: "新增",
                type: 1,
                area: ['400px', '400px'],
                content: $("#template3").html()
            });

            form.render();
            laydate.render({
                elem: '.date'
            });

            $("#saveBtn2").on("click", function () {
                var data = form.val("form1");
                if (!data.userId) {
                    layer.msg("请选择医生")
                    return false;
                }
                if (!data.beginDate||!data.endDate||!data.maxNum) {
                    layer.msg("请补全信息")
                    return false;
                }
                if (data.beginDate > data.endDate) {
                    layer.msg("日期填写错误")
                    return false;
                }
                if (data.maxNum < 1) {
                    layer.msg("数量填写错误")
                    return false;
                }
                console.log(data)
                $.post("/schedule/save", data, function (vo) {
                    if (vo.code == 0) {
                        //关窗口
                        layer.closeAll();
                        //给成功提示
                        layer.msg("添加成功");
                        //再查一遍表格的数据(点一下查询按钮)
                        $("#searchBtn").click();
                    } else {
                        layer.msg(vo.msg);
                    }

                });

            });


        });

        //给表格操作绑事件
        table.on("tool", function (obj) {
            var event = obj.event;
            var data = obj.data;//当前点击的这一行的数据
            /*console.log(event)
            console.log(data.id)*/

            if (event === "edit") {//说明点了编辑
                //去后台获取数据,取成功了再弹
                $.get("/schedule/info", {id: data.id}, function (schedule) {
                    layer.open({
                        title: "编辑",
                        type: 1,
                        area: ['400px', '400px'],
                        content: $("#template1").html()
                    });

                    form.val("form1", schedule)
                    laydate.render({
                        elem: '.date'
                    });

                    $("#saveBtn").on("click", function () {
                        var data = form.val("form1");
                        console.log(data)
                        if (!data.beginDate||!data.endDate||!data.maxNum) {
                            layer.msg("请补全信息")
                            return false;
                        }
                        if (data.beginDate > data.endDate) {
                            layer.msg("日期填写错误")
                            return false;
                        }
                        if (data.maxNum < 1) {
                            layer.msg("数量填写错误")
                            return false;
                        }
                        $.post("/schedule/save", data, function () {
                            layer.closeAll();
                            layer.msg("保存成功")
                            $("#searchBtn").click();
                        });
                    });
                });


            }
            if (event === "delete") {//说明点了删除
                //点确定执行第二个参数 点取消执行第三个参数
                layer.confirm("请确认是否删除", function () {
                    $.post("/schedule/delete", {ids: data.id}, function (result) {

                        if (result.code == 0) {
                            layer.closeAll();
                            layer.msg("删除成功");
                            $("#searchBtn").click();
                        } else {
                            layer.closeAll();
                            layer.msg(result.msg)
                        }

                    });
                }, function () {
                });
            }
        });

    });


</script>
</body>
</html>
